aws-lambda-powertools==1.6.1
aws-xray-sdk==2.6.0
boto3==1.16.0
botocore==1.19.0
certifi==2020.6.20
chardet==3.0.4
fastjsonschema==2.14.5
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
jmespath==0.10.0
jsonpickle==1.4.1
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.11
wrapt==1.12.1
zipp==3.3.1
